:root{
    --button-color-a: #a76856;
}

body,
*,
html{
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
}

body{
    background-color: #f7e6e6;
}

.new-game-b{
    padding: 0.25%;
    background-color: white;
    border-color: white;
    color: var(--button-color-a);
    font-weight: bold;
}

.enter-button{
    padding: 0% 0.5% 0% 0.5%;
    background-color: white;
    border-color: white;
    color: var(--button-color-a);
}

h1{
    margin: 3% 3% 0.2% 3%;
    color: #8a5f5f;
}

h2{
    color: #8a5f5f;
    margin: 2%;
}

h3{
    font-weight: normal;
    padding: 0% 1% 0% 1%;
    color: #854a4a;
}

h5{
    margin: 0% 3% 3% 3%;
    color:#854a4a;
}

p{
    margin: 1%;
}

.formm{
    margin: 2%;
}
